<ng-container *ngIf="data">
  <div
    class="order"
    *ngFor="let item of data; let i = index"
    style="
      width: 200px;
      display: inline-block;
      margin-left: -4px;
      padding-left: 13px;
    "
    [style.margin-top]="i > 0 ? '5px' : '2px'"
  >
    <div>
      <div
        [id]="item.order_sn"
        style="width: fit-content; display: inline-block"
      ></div>
      <div
        style="
          font-size: 12px;
          display: inline-block;
          text-align: left;
          word-break: break-all;
          margin-left: 5px;
        "
      >
        <span style="position: relative; top: -24px">
          {{ item.actual_carrier | customString: "ShortCarrier" }} <br />
          {{ item.buyer_user.user_name | slice: 0:10 }}
          <br />
          {{ item.order_items.length }} PL -
          {{ item["product_quantity"].length }} SP
          <br />
          {{ item.gomdon_logs[0].id | date: "HH:mm dd/MM/y" }}
        </span>
      </div>
    </div>
    <div style="text-align: left; margin-top: 3px">
      <b
        [style.font-size]="
          item.actual_carrier === 'Ninja Van' ? '14px' : '16px'
        "
        >{{ item.shipping_traceno }}</b
      >
    </div>
  </div>
</ng-container>
