li.ant-menu-item.ant-menu-item-selected {
  // background-color: #0000004d !important;
  a.menu-a {
    padding-right: 15px;
  }
  i {
    color: #fff;
  }
}
em.badge {
  font-size: 12px;
  background: #e72b2b;
  padding: 2px 6px;
  color: white;
  border-radius: 2px;
}
